{% extends "base_core.html" %}
{% block content %}
<div style="padding:60px 120px;" class="w3-container w3-card w3-white w3-round w3-margin"><br>
  <form action="/update/document/{{doc.doc_name}}" method="post">
      <h1 style="text-align:center;"><strong> DOCUMENT NAME: {{ doc.doc_name }} </strong></h1>
      <hr class="w3-clear">
      <div style="padding:20px 120px;">
        <div>
          <h6>New Doc Name</h6>
          <input style="width: 100%;" type="text" name="new_name" value="{{doc.doc_name}}">
        </div>
        <br>
        <div>
          <h6>Update Content</h6>
          <textarea name="update_content" cols="50" rows="10">{{doc.doc_content}}</textarea>
        </div>
        <br>
        <div style="text-align:center;">
          <input type="submit" value="Update">
        </div>
        <br>
      </div>
  </form>
  <br>
</div>
{% endblock %}
